.footer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;

    svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }

    .addCommentFormInput {
        border: none;
        height: 24px;
        font-size: 0.9em;
    }
}
