.reactionsBar {
    display: flex;
    align-content: center;
    justify-content: space-between;

    svg {
        height: 24px;
        width: 24px;

        margin: 12px;
        margin-left: 0;
    }
}

